* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

$limeGreen: #57ffdc;
$purple: #232142;
$white: #fff;

$h2: 40px;
$p: 20px;
h2 {
    font-size: $h2;
}

p {
    font-size: $p;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $purple;

    #navIcon {
        display: none;
    }

    #navBars {
        position: absolute;
        right: 0;
        top: 0;
        margin: 15px;
        height: 56px;
        width: 56px;
        display: none;
    }

    #chk {
        display: none;
    }

    .logo {
        margin: 10px;
        flex: 1;
        a img {
            width: 80px;
        }
    }
    ul {
        display: flex;
        width: 80%;
        justify-content: space-around;
        li {
            a {
                font-size: 24px;
                color: $white;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    nav {
        align-items: flex-start;
        .logo {
            position: absolute;
            top: 0;
            left: 0;
        }
        ul {
            margin-top: 87px;
            width: 100%;
        }
    }
    nav #navBars {
        display: block;
    }
    nav li {
        display: none;
    }
    ul.active li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        border-bottom: 1px solid $white;
        border-top: 1px solid $white;
    }
    ul {
        flex-direction: column;
    }
}

header {
    width: 100vw;
    height: 500px;
    background-image: url('/img/header.jpg');
}

#values {
    width: 100%;
    min-height: 300px;
    background-color: $purple;
    display: flex;
    text-align: center;

    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px;

        h2 {
            margin: 20px 0 20px 0;
            color: $limeGreen;
        }

        p {
            color: $white;
        }
    }
}

.cockpit {
    background-color: $limeGreen;
    min-height: 400px;
    overflow: auto;
    .intro {
        text-align: center;
        h2 {
            margin: 20px 0 20px 0;
            color: $purple;
        }
        p {
            color: #888;
            font-size: 20px;
            margin: 20px;
        }
    }
    .img_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
            width: 30%;
        }
    }
}

.hangar {
    background-color: $purple;
    overflow: auto;
    h2 {
        margin: 20px;
        text-align: center;
        color: $limeGreen;
    }

    .services {
        margin-left: 100px;
        margin-right: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div {
            width: 570px;
            margin: 10px;
            padding: 10px;
            box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
            h3 {
                text-transform: uppercase;
                font-size: 25px;
                color: $limeGreen;
            }
            p {
                color: $white;
            }
        }
    }
    .other {
        text-align: center;
        margin: 20px;
        p {
            margin-bottom: 20px;
        }
    }
}
